<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | CRUD-ExpressMongoDB</title>
    <link rel="shortcut icon" href="/img/Soccer.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="site">
        <div class="ui massive menu">
            <div class="ui container">
                <div class="item"><a href="/"><i class="home icon"></i>Inicio</a></div>
                <div class="item"> <a href="#"></a> About</div>
                <div class="item">Contact</div>
                <div class="item">Blog</div>
            </div>
        </div>  
        <!-- <br> -->
   
        <div class="ui container">
            <!-- <h1>Hola</h1> -->
              <div class="ui segment red">
                <h4 class="ui center aligned header"><i class="hand point right outline icon"></i>!Bienvenido!</h4>
              </div>
            
            <form id="form" action="/add" class="ui form" method="POST">
                <div class="three fields">
                    <div class="field">
                        <label for="label" class="ui header green"><i class="flag icon"></i>INGRESE EL NOMBRE DEL PAIS</label>
                        <input type="text" name="name" placeholder="Nombre del Pais" value=""  id="name">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green"><i class="users icon"></i>INGRESE EL NOMBRE DE LOS JUEGADORES</label>
                        <input type="text" name="players" placeholder="Nombre de los Jugadores" value="" id="players">
                    </div>
                    <div class="field">
                        <label for="label" class="ui header green"><i class="user icon"></i>INGRESE EL NOMBRE DEL ENTRENADOR</label>
                        <input type="text" name="coach" placeholder="Nombre del Entrenador" value="" id="coach">
                    </div>
                </div>
                <!-- BOTON PARA AGREGAR DATOS A LA TABLA Y DB"> -->
                    <div class="field fluid">
                        <button type="submit" class="positive ui button"><i class="save icon"></i>Guardar</button>
                    </div>
                <!-- **************************** -->
            </form>
           
            <br>

            <table class="ui inverted selectable aligned table">

                <!-- Barra de Busqueda -->
                
                <!-- <div class="ui input">
                    <input type="text" placeholder="Buscar...">
                  </div> -->

                <thead>
                    <th>PAIS</th>
                    <th>JUEGADORES</th>
                    <th>ENTRENADOR</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </thead>
                <tbody>

                    <% pais.forEach((pais)=>{ %>
                        <tr>
                            <td><%- pais.name %></td>
                            <td><%- pais.players %></td>
                            <td><%- pais.coach %></td>
                            <td><a class="ui blue button" href="/edit/<%= pais._id %>"><i class="edit outline icon"></i></a></td>
                            <td><a class="ui red button" href="/delete/<%= pais._id %>"><i class="trash alternate  icon"></i></a></td>
                        </tr>

                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="ui container wraper">
        <br>
          <h2 class="ui center aligned header">Noticias</h2>
          <br>
          <br>
          <div class="ui four link cards">
            <div class="card blue">
              <div class="image">
                <img src="/img/noticia1.jpg">
              </div>
              <div class="content">
                <div class="header">Perú festeja por primera vez y Venezuela rescata un empate ante Ecuador</div>
                <div class="meta">
                  <a href="https://copaamerica.com/es/noticias/resumen-fecha-3-grupo-b-conmebol-copa-america/">Leer Más</a>
                </div>
                <div class="description">En Goiania, Perú se quedó con sus primeros tres puntos en la CONMEBOL Copa América al derrotar por 2 a 1 Colombia...</div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 20-06-2021 </span>
                <span><i class="user icon"></i> 75 Vistas </span>
              </div>
            </div>
            <div class="card red">
              <div class="image">
                <img src="/img/noticia2.jpg">
              </div>
              <div class="content">
                <div class="header">Perú suma sus primeros tres puntos en el Grupo B</div>
                <div class="meta">
                    <a href="https://copaamerica.com/es/noticias/colombia-peru-fecha-3-grupo-b-conmebol-copa-america-2021/">Leer Más</a>
                </div>
                <div class="description">Con goles de Sergio Peña y Yerry Mina, en contra, Perú festejó su primera victoria en esta CONMEBOL Copa América...</div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 20-06-2021 </span>
                <span><i class="user icon"></i> 35 Vistas </span>
              </div>
            </div>
            <div class="card blue">
              <div class="image">
                <img src="/img/noticia3.jpg">
              </div>
              <div class="content">
                <div class="header">Ecuador y Venezuela hacen tablas en un emocionante partido</div>
                <div class="meta">
                  <a href="https://copaamerica.com/es/noticias/ecuador-venezuela-conmebol-copa-america-2021/">Leer Más</a>
                </div>
                <div class="description">Venezuela se quedó con un valioso empate sobre el final frente a Ecuador en un emocionante partido por la 3° fecha del Grupo B de la CONMEBOL Copa América 2021.</div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 20-06-2021 </span>
                <span><i class="user icon"></i> 151 Vistas </span>
              </div>
            </div>
            <div class="card red">
              <div class="image">
                <img src="/img/noticia4.jpg">
              </div>
              <div class="content">
                <div class="header">Colombia busca la clasificación ante un Perú que quiere reivindicarse</div>
                <div class="meta">
                  <a href="https://copaamerica.com/es/noticias/colombia-busca-la-clasificacion-ante-peru-que-quiere-reivindicarse/">Leer Más</a>
                </div>
                <div class="description">Colombia tiene entre ceja y ceja los cuartos de final de la CONMEBOL Copa América 2021, para ello debe vencer este domingo a Perú, que busca su recuperación tras su caída ante el anfitrión por el Grupo B...</div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 20-06-2021 </span>
                <span><i class="user icon"></i> 151 Vistas </span>
              </div>
            </div>
            <div class="card blue">
              <div class="image">
                <img src="/img/noticia5.png">
              </div>
              <div class="content">
                <div class="header">Los árbitros para la 3° fecha de la CONMEBOL Copa América 2021</div>
                <div class="meta">
                  <a href="https://copaamerica.com/es/noticias/arbitros-fecha-3-conmebol-copa-america-2021/">Leer Más</a>
                </div>
                <div class="description">Los partidos correspondientes a la 3° fecha de la CONMEBOL Copa América 2021 el próximo domingo ya tienen sus árbitros confirmados....</div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 19-06-2021 </span>
                <span><i class="user icon"></i> 569 Vistas </span>
              </div>
            </div>
            <div class="card red">
              <div class="image">
                <img src="/img/noticia6.png">
              </div>
              <div class="content">
                <div class="header">Los uniformes para la fecha 2 del Grupo B de la CONMEBOL Copa América 2021</div>
                <div class="meta">
                  <a href="https://copaamerica.com/es/noticias/uniformes-fecha-2-conmebol-copa-america-2021/">Leer Más</a>
                </div>
                <div class="description">Los cuatro equipos que competirán en la segunda jornada de la CONMEBOL Copa América 2021, por la fecha 2 del Grupo B, tienen sus uniformes listos para el inicio de la competencia... </div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 17-06-2021 </span>
                <span><i class="user icon"></i> 684 Vistas </span>
              </div>
            </div>
            <div class="card blue">
              <div class="image">
                <img src="/img/noticia7.png">
              </div>
              <div class="content">
                <div class="header">Todos los entrenadores de la CONMEBOL Copa América 2021</div>
                <div class="meta">
                  <a href="https://copaamerica.com/es/noticias/entrenadores-CONMEBOL-copa-america-2021/">Leer Más</a>
                </div>
                <div class="description">Ser entrenador de una selección tiene su ciencia. No es lo mismo dirigir a un club de fútbol que a un combinado nacional. En el primer se tiene relación diaria con los jugadores, lo que simplifica el trabajo y la idea de juego...</div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 12-06-2021 </span>
                <span><i class="user icon"></i> 845 Vistas </span>
              </div>
            </div>
            <div class="card red">
              <div class="image">
                <img src="/img/noticia8.jpeg">
              </div>
              <div class="content">
                <div class="header">CONMEBOL y SONY MUSIC LATIN anuncian la canción oficial de la CONMEBOL Copa América 2021</div>
                <div class="meta">
                  <a href="https://copaamerica.com/es/noticias/Cancion-CONMEBOL-Copa-America/">Leer Más</a>
                </div>
                <div class="description">Alex Gallardo, presidente de Sony Music U.S. Latin, se expresa orgulloso de este vínculo entre la música y el deporte: “No puede haber una mejor canción que acompañe a La Copa América 2021. ‘La Gozadera’ es un tema que se ha ...</div>
              </div>
              <div class="extra content">
                <span class="right floated">Publicado - 11-06-2021 </span>
                <span><i class="user icon"></i> 945 Vistas </span>
              </div>
            </div>
          </div>

          <!-- ESTADIOS -->
          
            <div class="ui very relaxed items">
              <br>
              <br>
            <h2 class="ui center aligned header">Estadios</h2>
            <br>
          <div class="item">
            <div class="image">
              <img src="/img/estadio1.jpg">
            </div>
            <div class="content">
              <a class="ui header" href="#link">MANÉ GARRINCHA</a>
              <div class="description">
                <p>Ubicado en Brasilia, es el principal estadio de la capital del país. Se construyó en 1974 y se renovó completamente en 2013 para la Copa Confederaciones y el Mundial de 2014. Tiene una capacidad de 72 mil espectadores.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="/img/estadio2.jpg">
            </div>
            <div class="content">
              <a class="ui header" href="#link">ARENA PANTANAL</a>
              <div class="description">
                <p>El Arena Pantanal fue construido específicamente para albergar partidos de la Copa del Mundo de 2014 y tiene capacidad para 44.000 personas. En 2021, tendrá un equipo en la Serie A del Campeonato Brasileño: el Cuiabá Esporte Clube. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="/img/estadio3.png">
            </div>
            <div class="content">
              <a class="ui header" href="#link">OLÍMPICO </a>
              <div class="description">
                <p>El Olímpico se inauguró oficialmente en 1941 y se modernizó en 2016. Al año siguiente, fue una de las sedes de la Copa Mundial Sub-17. Su capacidad es de 10.000 espectadores. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="/img/estadio4.jpg">
            </div>
            <div class="content">
              <a class="ui header" href="#link">NILTON SANTOS</a>
              <div class="description">
                <p>Se construyó para albergar las competiciones de los Juegos Panamericanos de Río 2007 y también fue el escenario de varias competiciones de los Juegos Olímpicos de Río 2016. Tiene una capacidad de 45.000 plazas. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="/img/estadio5.jpg">
            </div>
            <div class="content">
              <a class="ui header" href="#link">MARACANÁ</a>
              <div class="description">
                <p>Uno de los escenarios más famosos del mundo. Sus 78 mil asientos están acostumbrados a los grandes eventos. El campo ha sido testigo de finales de la Copa Libertadores, de los Juegos Olímpicos, de la Copa del Mundo y, en 2021, volverá a acoger la final de la CONMEBOL Copa América. </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
    </div>
    <!-- <script src="/js/semantic.min.js"></script> -->
</body>
</html>